#DATABASE
POSTGRES_USER=expenseflow
POSTGRES_PASSWORD=expenseflow
POSTGRES_DB=expenseflow

#backend
SECRET_KEY=expenseflow_super_secret_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

#frontend
VITE_API_URL=/api
